@import url('https://fonts.googleapis.com/css?family=PT+Sans+Caption');
.navbar {
    list-style: none;
    padding: 0 30px;
    margin: 0;
    font-size: 18px;
    text-align: center;
    position: relative;
    background: white;
}
.navbar:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    bottom: -20px;
}
.navbar li {display: inline-block;}
.navbar a {
    text-decoration: none;
    display: inline-block;
    margin: 0 15px;
    padding: 10px 30px;
    font-family: 'PT Sans Caption', sans-serif;
    color: #777777;
    transition: .3s linear;
    position: relative;
}
.navbar a:before,
.navbar a:before {left: 5px;}
.navbar a:after {right: 5px;}
.navbar a.current:before,
.navbar a.current:after,
.navbar a:hover:before,
.navbar a:hover:after {opacity: 1;}
.navbar a.current,
.navbar a:hover {color: #F58262;}
@media(max-width:680px) {
    .navbar li {display: block;}
}